/* 
    Document   : style
    Author     : Philipp Pfeiffer
    Description:
        Style Sheet for index.xhtml and editor.xhtml
*/

root { 
    display: block;
    position:relative;
}

body {
    font: 100% Arial, Helvetica, Clear, sans-serif;
    margin: 0; 
    padding: 0;
    text-align: left;
    color: #000000;
    min-width: 800px; 
    min-height: 900px; 
    background: #E6E6E6; 
}

h2 {
    font-size: 100%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.description {
    font-size: 75%;
    margin-left: 10px;
    margin-right: 10px;
}

tr {
    
}

th {
    
}

td {
    
}

.table {
    margin-left: 10px;
}

.label {
    margin-left: 10px;
    font-size: 75%;
    padding-right: 50px;
}

.data {
    font-size:75%;
    margin: 0; 
    padding: 0;
    text-align: left;
    color: #000000; 
}

em {
    
}
  
.searchLabel{
    font-weight: bold;
    margin-left: 10px;
}


#left, #right {
     display: inline-block;       
}

.rightGrid {
    float:right;
    vertical-align: middle;
}

.element {
    float:left;
}

.searchArea {
    background-color:#FFFFFF;
    width: 220px;
    height:80px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    box-shadow: 3px 3px 2px 2px #ccc;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.navArea {
    float:left;
    width:100%;
    background-color:#ffffff;
    margin-bottom: 10px;
    box-shadow: 3px 3px 2px 2px #ccc;
}

.mapArea {
    border-radius: 6px;
    box-shadow: 3px 3px 2px 2px #CCC;
    position: relative;
    height: 800px;
    top: 3%;
    background-color: #FFF;
    float: left;
    width: 40%;
}

.rightArea {
    width:420px;
    float:left;
}

.infoArea {
    float:left;
    height: 20%;
    width: 100%;
}

.vidArea {
    width:400px;
    margin-left: 15px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 2px 2px #ccc;
}

.editorArea {
    background-color:#ffffff;
    width: 400px;
    height: 490px;
    margin-left: 15px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 2px 2px #ccc;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.routeInfoArea {
    height: 30px;
    font-weight: bold;
    position: relative;
}

.routeInfoAreaLeft {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

.routeInfoAreaRight {
    float: left;
    position: absolute;
    margin-top: 5px;
    margin-left: 50%;
}

.routeArea {
    background-color:#e3e3e3;
    width:194px;
    height: 455px;
    margin-left: 3px;
    margin-top: 3px;
    float: left;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow-y: scroll;
}

.placesArea {
    background-color:#e3e3e3;
    width:180px;
    height:250px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow-y: scroll;
}

.onRoutePlace {
    background-color:#ffffff;
    width: 174px;
    height: 40px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
}

.offRoutePlace {
    background-color:#ffffff;
    width: 174px;
    height: 35px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
}

.placeName {
    width:7em; 
    font-size: 70%;
    float: right;
    word-break:break-all;
}

.placeNameOffRoute {
    width:8em; 
    font-size: 70%;
    float: left;
    word-break:break-all;
}

.footer {
    
}

.placeImageArea {
    height: 800px;
    float: left;
    width: 500px;
}
.innerPlaceImageArea {
    background-color:#e3e3e3;
    height: 800px;
    margin-left: 5px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 2px 2px #ccc;
    -webkit-column-count: 3;
    -webkit-column-gap:   5px;
    -moz-column-count:    3;
    -moz-column-gap:      5px;
    column-count:         3;
    column-gap:           5px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.placePhoto {
    width: 100%;
    height: auto;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.removeButton {
    float: right;
    font-size: 70%;
    width: 60px;
}

.addButton {
    float: right;
    font-size: 70%;
    width: 60px;
}

.map {
    float:left;
    width:100%;
    height: 75%;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: absolute;
    top: 25%;
}

.travelMode {
    float:left;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

#bicycling {
    margin-left: 10px;
}

#driving {
    margin-left: 10px;
}

.refreshButton {
    float: right;
    margin-top: 10px;
}

.routeCounter {
    float: right;
    margin-right: 30px;
    font-weight: bold;
    margin-top: 10px;
}

.popUpPrimaryContainer {
    float: left;
}

.popUpImage1 {
    float: left;
    max-height: 300px;
    max-width: 300px
}

.popUpSecondaryContainer {
    float: left;
    max-width: 150px;
}
.popUpImage2 {
    max-height: 150px;
    max-width: 200px
}

.popUpImage3 {
    max-height: 150px;
    max-width: 200px
}

icon {
    float: left;
}

.indexLoader {
    width:25px;
    height:25px;
}

.editorLoader {
    width:25px;
    height:25px;
}

.thumbnails {   
    width: 610px;
    margin-top:20px;
    margin-left: auto; 
    margin-right: auto;

     text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
.thumbnailContainer {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
.popUpImage {
    max-height: 300px;
    max-width: 200px
}

.hide {
    display: none;
}

.validation_error {
    color: red;
    font-size: 90%;
}

.indexErrorMessage {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 20%;
}

.indexControlArea {
    margin: auto;
    width: 220px;
    height: 110px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.languageArea {
    margin-left: auto;
    margin-right: auto;
    margin-top: 84px;
    width: 68px;
}

.languageIcon {
    margin-left: 10px;
}

.editorLanguageArea {
    float: left;
    margin-right: 10px;
}

.imageContainer {
    position: relative;
}

.attribution {
    position: absolute;
    width: 100%;
    left: 0; 
    bottom: 0;
    margin-bottom: 5px;
}

.attribution a{
    font-size: 75%;
    color: white; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
}